<br />
<div class="card-deck">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C4E0BAQGBBp0LaObq0A/company-logo_200_200/0?e=2159024400&v=beta&t=tyrD06lDsdOelMjanHDd2gC1iqekh_JWTaXny9bAT4o" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LinkedIn</h5>
        <p class="card-text">Visita mi perfil</p>
      </div>
    </div>
    <div class="card">
      <img src="https://slack-files2.s3-us-west-2.amazonaws.com/avatars/2017-12-19/288981919427_f45f04edd92902a96859_512.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Github</h5>
        <p class="card-text">Mira los proyectos en los que he trabajado en mi github</p>
        <p class="card-text"><small class="text-muted">Incluido el código de esta página</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-L0D0EI8g5iHClD68eWDDHxSJ8HPsPmn8M2MFAZnkOTZF8DKG" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gmail</h5>
        <p class="card-text">Mandame un email!</p>
      </div>
    </div>
  </div>